/* Middle area */
#machine {
    width: 60%;
    height: 340px;
    display: grid;
    grid-template-columns: 105px 105px 105px;
    grid-template-rows: 105px 105px 105px;
    grid-gap: 12px;
}

/* All the Drum Pads */
.drum-pad {
    border: none;
    border-radius: 10px;
}

button:focus {
    outline:0;
}

/* Inside Letters */
h3 {
    font-size: 40px;
    opacity: 0.1;
    pointer-events: none;
    background-color: none;
}

/* Top Pads */
#Q, #W, #E {
    background-image: radial-gradient(white 1%, #7006FB 90%);
}

#Q {
    grid-column: 1;
    grid-row: 1;
}
#W {
    grid-column: 2;
    grid-row: 1;
}
#E {
    grid-column: 3;
    grid-row: 1;
}

/* Middle Pads */
#A, #S, #D {
    background-image: radial-gradient(white 1%, #06FB26 90%);
}

#A {
    grid-column: 1;
    grid-row: 2;
}

#S {
    grid-column: 2;
    grid-row: 2;
}

#D {
    grid-column: 3;
    grid-row: 2;
}

/* Bottom Pads */
#Z, #X, #C {
    background-image: radial-gradient(white 1%, #FF7700 90%);
}

#Z {
    grid-column: 1;
    grid-row: 3;
}

#X {
    grid-column: 2;
    grid-row: 3;
}

#C {
    grid-column: 3;
    grid-row: 3;
}

/* On Click */
#Q:focus, #W:focus, #E:focus, #A:focus, #S:focus, #D:focus, #Z:focus, #X:focus, #C:focus{
    background-image: radial-gradient(white 1%, red 90%);
}
